= javascript_include_tag "shared"

.container-fluid
  %table#MyGrid.table.table-bordered.datagrid
    %thead
      %tr
        %th
          %span.datagrid-header-title All Credits
          .datagrid-header-left
          .datagrid-header-right
            .input-append.search
              %input.input-medium{placeholder: "Search", type: "text"}/
              %button.btn
                %i.icon-search
      %tfoot
        %tr
          %th
            .datagrid-footer-left{style: "display:none;"}
              .grid-controls
                %span
                  %span.grid-start
                  \-
                  %span.grid-end
                  of
                  %span.grid-count
                %select.grid-pagesize
                  %option 5
                  %option 10
                %span Per Page
            .datagrid-footer-right{style: "display:none;"}
              .grid-pager
                %button.btn.grid-prevpage
                  %i.icon-chevron-left
                %span Page
                .input-append.dropdown.combobox
                  %input.span1{type: "text"}/
                %span
                  of
                  %span.grid-pages
                %button.btn.grid-nextpage
                  %i.icon-chevron-right
