%h3 Welcome to Good Thing We're Rich!

%table.table
  %body.table-stribed
    %tr
      %td
        Account 
      %td
        Balance
      %td
        Last Updated
    %tr
    - @accounts.each do |account|
      %td
        #{account.name}
      %td
        #{account.balance}
      %td
        #{account.updated_at}
      
