%h3 Welcome to "Good Thing We're Rich!"

%table.table
  %body.table-striped
    %tr
      %td
        Account 
      %td
        Balance
      %td
        Last Updated
      %td
    %div.users
    = render "each_account"
