%h3 Welcome to "Good Thing We're Rich!"

%table.table
  %body.table-striped
    %tr
      %td
        Account 
      %td
        Balance
      %td
        Last Updated
    - @accounts.each do |account|
      %tr
        %td
          #{link_to account.name, account}
        %td
          #{account.balance}
        %td
          #{account.updated_at.localtime.strftime("%a %e %b %l:%M %p")}
